{% extends 'core/base.html' %}

{% block content %}
    <h1 class="mb-6 text-3xl">{{ todolist.name }}</h1>

    {% if todolist.description %}
        <p class="mb-6">{{ todolist.description }}</p>
    {% endif %}

    <a href="{% url 'task:add' project.id todolist.id %}" class="py-4 px-8 bg-emerald-600 text-white inline-block">Add task</a>
    <a href="{% url 'todolist:edit' project.id todolist.id %}" class="py-4 px-8 bg-sky-600 text-white inline-block">Edit</a>
    <a href="{% url 'todolist:delete' project.id todolist.id %}" class="py-4 px-8 bg-amber-600 text-white inline-block">Delete</a>

    <div class="mt-6 grid grid-cols-4 gap-4">
        {% for task in todolist.tasks.all %}
            <div class="py-6 px-6 bg-slate-200">
                <a href="{% url 'task:detail' todolist.project.id todolist.id task.id %}">
                    <h2 class="mb-4 text-xl">{{ task.name }}</h2>

                    <p class="text-sm text-slate-600">
                        {{ task.description }}
                    </p>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}