{% extends 'core/base.html' %}

{% block content %}
    <h1 class="mb-6 text-3xl">{{ project.name }}</h1>

    {% if project.description %}
        <p class="mb-6">{{ project.description }}</p>
    {% endif %}

    <a href="{% url 'todolist:add' project.id %}" class="py-4 px-8 bg-emerald-600 text-white inline-block">Add todolist</a>
    <a href="{% url 'project:edit' project.id %}" class="py-4 px-8 bg-sky-600 text-white inline-block">Edit</a>
    <a href="{% url 'project:delete' project.id %}" class="py-4 px-8 bg-amber-600 text-white inline-block">Delete</a>

    <h2 class="mt-6 text-2xl">Todo lists</h2>

    <div class="mt-6 grid grid-cols-4 gap-4">
        {% for todolist in project.todolists.all %}
            <div class="py-6 px-6 bg-slate-200">
                <a href="{% url 'todolist:todolist' project.id todolist.id %}">
                    <h3 class="mb-4 text-xl">{{ todolist.name }}</h3>

                    <p class="text-sm text-slate-600">
                        {{ todolist.description }}
                    </p>
                </a>
            </div>
        {% endfor %}
    </div>

    <h2 class="mt-6 text-2xl">Files</h2>

    <a href="{% url 'project:upload_file' project.id %}" class="mt-6 py-4 px-8 bg-slate-600 text-white inline-block">Upload file</a>

    <div class="mt-6 grid grid-cols-4 gap-4">
        {% for projectfile in project.files.all %}
            <div class="py-6 px-6 bg-slate-200">
                <h3 class="mb-4 text-xl">{{ projectfile.name }}</h3>

                <a href="{{ projectfile.attachment.url }}" target="_blank" class="text-sm text-slate-600">
                    Download file
                </a>

                |

                <a href="{% url 'project:delete_file' project.id projectfile.id %}" class="text-sm text-slate-600">
                    Delete
                </a>
            </div>
        {% endfor %}
    </div>

    <h2 class="mt-6 text-2xl">Notes</h2>

    <a href="{% url 'project:add_note' project.id %}" class="mt-6 py-4 px-8 bg-slate-600 text-white inline-block">Add note</a>

    <div class="mt-6 grid grid-cols-4 gap-4">
        {% for note in project.notes.all %}
            <div class="py-6 px-6 bg-slate-200">
                <a href="{% url 'project:note_detail' project.id note.id %}">
                    <h3 class="mb-4 text-xl">{{ note.name }}</h3>

                    <p class="text-sm text-slate-600">
                        {{ note.body|truncatechars:50 }}
                    </p>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}